@model ComputerRepairShop.ViewModels.RepairOrderViewModel
@*@model IEnumerable<ComputerRepairShop.Data.Models.RepairOrder>*@
@using ComputerRepairShop.Classes.Helpers;

@{
    ViewBag.Title = "Index";
}

<h2>Repair Order</h2>
    @*<thead>

    </thead>*@
        @foreach (var repairOrder in Model.RepairOrders)
<table class="table">
    <thead>
        <tr>

            <th>@Html.DisplayNameFor(model => repairOrder.Name)</th>
            <th>@Html.DisplayNameFor(model => repairOrder.Status)</th>
            <th>@Html.DisplayNameFor(model => repairOrder.StartDate)</th>
            <th>@Html.DisplayNameFor(model => repairOrder.EndDate)</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @string rowClass = "None";
        @*if ((repairOrder.StartDate.Ticks > DateTime.Now.Date.Ticks && repairOrder.Status == RepairOrderStatus.Pending) || repairOrder.EndDate.Ticks > DateTime.Now.Date.Ticks)
        {
        rowClass = "DateDue";
        };*@

        <tr>
            <td>@repairOrder.Name</td>
            <td class="@repairOrder.Status">@repairOrder.Status</td>
            <td class="@rowClass">@repairOrder.StartDate</td>
            <td class="@rowClass">@repairOrder.EndDate</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = repairOrder.Id }) |
                @Html.ActionLink("Details", "Details", new { id = repairOrder.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = repairOrder.Id })
            </td>
        </tr>
    </tbody>
</table>
    }

