@model ComputerRepairShop.Web.ViewModels.RepairOrderViewModel
@using ComputerRepairShop.Data.Models
@{
    ViewBag.Title = "Repair orders";
}

<div id="Progress-Orders">
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary Btn-Create" })
    @foreach (var statusAmount in Model.statusCount)
    {
        <h4 style="display:inline">@statusAmount.Key : @statusAmount.Value, </h4>
    }

    <div class="progress" style="margin-top:2px;">
        @foreach (var statusAmount in Model.statusCount)
        {
            <div class="progress-bar @statusAmount.Key" role="progressbar" style="width: @((Convert.ToInt32(statusAmount.Value/(Model.RepairOrders.Count()*0.01)))+"%")" aria-valuenow="@statusAmount.Value" aria-valuemin="0" aria-valuemax="@(Model.statusCount.Count())"></div>
        }
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().Status)</th>
            <th>@Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.RepairOrders.FirstOrDefault().EndDate)</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var repairOrder in Model.RepairOrders)
        {
            <tr>
                <td>@repairOrder.Name</td>
                <td style="text-align:center" class="@repairOrder.Status">@repairOrder.Status</td>
                <td @*class="@rowClass"*@>@repairOrder.StartDate.ToString("dddd, dd MMMM yyyy")</td>
                <td @*class="@rowClass"*@>@repairOrder.EndDate.ToString("dddd, dd MMMM yyyy")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = repairOrder.Id }, new { @class = "btn btn-outline-secondary" })
                    @Html.ActionLink("Details", "Details", new { id = repairOrder.Id }, new { @class = "btn btn-outline-secondary" })
                    @Html.ActionLink("Delete", "Delete", new { id = repairOrder.Id }, new { @class = "btn btn-outline-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>

