<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @using Microsoft.AspNet.Identity
    @using ComputerRepairShop.ClassLibrary.Const;
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PC repair shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
            @if (User.Identity.IsAuthenticated)
            {
                    <ul class="nav navbar-nav">

                        {
                        <li>@Html.ActionLink("RepairOrders", "Index", "RepairOrder")</li>
                        @if (!User.IsInRole(RoleNames.Customer))
                        {
                            <li>@Html.ActionLink("Dashboard", "Dashboard", "Home")</li>
                            <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                            // TODO: Add total overview for mechanics etc.
                            @*<li>@Html.ActionLink("Employees", "Index", "Home")</li>*@
                        }
                        @if (User.IsInRole(RoleNames.Admin))
                        {
                            //TODO: Add special role management menu.
                        }
                    </ul>
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            
            </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PC repair shop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
