@model ComputerRepairShop.Web.ViewModels.RepairOrderViewModel

@Html.HiddenFor(model => model.Parts)
@Html.HiddenFor(model => model.AllParts)


<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EnumDropDownListFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DescCustomer, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DescCustomer, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DescCustomer, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DescTechnican, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DescTechnican, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DescTechnican, "", new { @class = "text-danger" })
    </div>
</div>

@if (Model != null)
{
    <div class="form-group">
        @Html.LabelFor(model => model.AllParts, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.SelectedParts, Model.AllParts.Select(x => new SelectListItem { Text = x.ProductName, Value = x.Id.ToString() }),
           new { @class = "form-control chosen-select", @multiple = true })
            @Html.ValidationMessageFor(model => model.AllParts, "", new { @class = "text-danger" })
        </div>
    </div>
}
